<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarvesterChina.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HarvesterRandom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HarvesterRandom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HarvesterRandom.Properties.Settings.connString" connectionString="Server=localhost;Database=weibo;User=root;Password=1234" />
        <add name="HarvesterChina.Properties.Settings.connString" connectionString="Server=localhost;Database=weibo;User=root;Password=1234" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <HarvesterChina.Properties.Settings>
            <setting name="AcessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>https://api.weibo.com/oauth2/default.html</value>
            </setting>
            <setting name="starttime" serializeAs="String">
                <value>2014-09-30</value>
            </setting>
            <setting name="MSSQL" serializeAs="String">
                <value>user id=username;password=password;server=localhost;Trusted_Connection=yes;database=Weibo; connection timeout=120</value>
            </setting>
            <setting name="NbrOfFields" serializeAs="String">
                <value>2477</value>
            </setting>
            <setting name="SQLtable" serializeAs="String">
                <value>NBT2_transformed</value>
            </setting>
        </HarvesterChina.Properties.Settings>
        <HarvesterRandom.Properties.Settings>
            <setting name="AcessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>https://api.weibo.com/oauth2/default.html</value>
            </setting>
        </HarvesterRandom.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HarvesterRandom.Properties.Settings>
            <setting name="starttime" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
        </HarvesterRandom.Properties.Settings>
    </applicationSettings>
</configuration>
